.ui-autocomplete {
	max-height: 60%;
	overflow-y: auto;
	overflow-x: auto;
	padding-right: 20px;
	font-size: 100%;
}

body {
	-webkit-text-size-adjust: 100%;
	background-color: #FFF7DF;
	font-size: 4vmin;
	font-family: Arial,Helvetica,sans-serif;
}

input[type="text"] {
	background-color: #FFFFFF;
	border: 1px #888888 solid;
	height: 5.2vmin;
	font-size: 4.5vmin;
}

.d_btn {
	position: sticky;
	position: -webkit-sticky;
	top: 0px;
	z-index: 3;
	width: 100%;
}

.tgl_e {
	width: 140px;
	background-color: #FFF7DF;
}

.tgl_s {
	width: 140px;
	background-color: #DEB887;
}

.tgl_m {
	width: 140px;
	background-color: #FFE8DF;
}

.d_tie{
	position: relative;
	display: inline-block;
}

.clr{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 4.5vmin;
	width: 4.5vmin;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	font-size: 4.5vmin;
}

.t_amm {
//	width: 100%;
	padding: 8px;
}

.opt {
	width: 21vmin;
}

.aka {
	width: 75vmin;
}

.eqp {
	width: 75vmin;
}

.brk {
	width: 100%;
	display: none;
}

.lbl {
	text-align: center;
	width: 18vmin;
	border-top: 1px #888888 solid;
}

.ast {
	width: 15vmin;
	display: none;
}

.frm {
	width: 80px;
}

.t_cls {
	width: 820px;
	padding: 8px;
}

.rac {
	width: 169px;
}

.job {
	width: 195px;
}

.t_ttl {
	width: 820px;
	padding: 8px;
}

.ttl {
	width: 350px;
}

.t_fsn {
	width: 820px;
	padding: 8px;
}

.z_fsn {
	display: none;
}

.fsn {
	width: 710px;
}
.t_skl {
	width: 820px;
	padding: 8px;
	background-color: #FFE8DF;
}

.z_skl {
	display: none;
}

.skl {
	width: 710px;
}

.b_mst {
	display: none;
}

.mst {
	width: 710px;
}

.d_rsl {
	overflow-y: auto;
	position: sticky;
	position: -webkit-sticky;
	bottom: 0px;
	z-index: 2;
	width: 820px;
}

.d_hln {
	text-align: center;
	font-weight: bold;
	background-color: #DEB887;
}

.d_aln {
	display: table-cell;
	vertical-align: top;
	text-align: center;
	background-color: #DEB887;
}

.t_sts {
	background-color: #FFE3BF;
}

.t_hed {
	text-align: center;
	background-color: #DEB887;
	width: 410px;
}

.r_sts {
	display: none;
}

.t_hed {
	text-align: center;
}

.t_itm {
	text-align: left;
	width: 200px;
	padding: 0px 0px 0px 25px;
}

.t_val {
	text-align: right;
	width: 55px;
}

.t_pct {
	text-align: left;
	width: 12px;
}

.t_mag {
	text-align: right;
	width: 55px;
	padding: 0px 25px 0px 0px;
}

.d_ins {
	font-size: 90%;
	background-color: #FFE3BF;
	width: 800px;
	padding: 10px;
}

.s_nt1 {
	padding: 0px 0px 0px 1em;
}

.d_nt1 {
	padding: 0px 0px 0px 1em;
}

.d_nt2 {
	padding: 0px 0px 0px 2em;
}
