body {
	-webkit-text-size-adjust: 100%;
	background-color: #FFF7DF;
	font-size: 3vmin;
}

input[type="text"] {
//	font-size: 100%;
//	padding: 2px 3px;
	padding: 0.1vmin;
	background-color: #FFFFFF;
	border: 1px #888888 solid;
	height: 3.5vmin;
	font-size: 3vmin;
}

.opt {
	font-size: 400px;
}
