.ui-autocomplete {
	max-height: 60%;
	overflow-y: auto;
	overflow-x: auto;
	padding-right: 20px;
}

body {
	background-color: #FFF7DF;
	font-family: Arial, Helvetica, sans-serif;
}

.d_btn {
	position: sticky;
	position: -webkit-sticky;
	top: 0px;
	z-index: 3;
}
.tgl_e {
	width: 140px;
	background-color: #FFF7DF;
}
.tgl_s {
	width: 140px;
	background-color: #DEB887;
}
.tgl_m {
	width: 140px;
	background-color: #FFE8DF;
}

input[type="text"] {
	font-size: 14px;
	padding: 2px 3px;
	background-color: #FFFFFF;
	border: 1px #888888 solid;
}

.d_tie {
	position: relative;
	display: inline-block;
}
.clr {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 22px;
	width: 22px;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	font-size: 20px;
}

.a_flx {
	display: flex;
	justify-content: space-around
}
.p_flx {
	display: flex;
	justify-content: space-around
}

.b_lbl {
	text-align: center;
	width: 80px;
	border-top: 1px #888888 solid;
}
.brk {
	display: none;
	width: 360px;
	font-size: 90%;
}
.inf {
	display: none;
	width: 110px;
}

.t_amm {
	padding: 8px;
}
.b_amm {
	border-top: 1px #888888 solid;
}
.opt {
	width: 150px;
}
.aka {
	width: 198px;
}
.eqp {
	width: 260px;
}

.t_fsn {
	padding: 8px;
}
.z_fsn {
	display: none;
}
.fsn {
	width: 466px;
}

.t_skl {
	padding: 8px;
	background-color: #FFE8DF;
}
.b_mst {
	display: none;
}
.mst {
	width: 466px;
}
.z_skl {
	display: none;
}
.skl {
	width: 466px;
}

.t_cls {
	padding: 8px;
}
.rac {
	width: 271px;
}
.job {
	width: 271px;
}
.t_ttl {
	padding: 8px;
}
.ttl {
	width: 271px;
}
.spc {
	width: 6em;
}

.d_rsl {
	overflow-y: auto;
	position: sticky;
	position: -webkit-sticky;
	top: 0px;
	z-index: 2;
	height: 98vh;
	background-color: #DEB887;
}
.d_hln {
	text-align: center;
	font-weight: bold;
	background-color: #DEB887;
}
.d_aln {
	display: table-cell;
	vertical-align: top;
	text-align: center;
	background-color: #DEB887;
}
.t_sts {
	background-color: #FFE3BF;
}
.t_hed {
	text-align: center;
	background-color: #DEB887;
}
.r_sts {
	display: none;
}
.t_itm {
	text-align: left;
	width: 160px;
	padding: 0px 0px 0px 15px;
}
.t_val {
	text-align: right;
	width: 65px;
}
.t_pct {
	text-align: left;
	width: 20px;
}
.t_mag {
	text-align: right;
	width: 75px;
	padding: 0px 15px 0px 0px;
}

.d_ins {
	font-size: 90%;
	background-color: #FFE3BF;
	width: 800px;
	padding: 10px;
}
.s_nt1 {
	padding: 0px 0px 0px 1em;
}
.d_nt1 {
	padding: 0px 0px 0px 1em;
}
.d_nt2 {
	padding: 0px 0px 0px 2em;
}
